.content-container{

    *{
        margin: 0;
        outline: none;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
    }

    width: 100%;
    padding: 4.5em 5.5em 0 5.5em;

    .main-title{
        margin: 0;
        padding-bottom: 40px;
        margin-bottom: 45px;
        font-size: 30px;
        font-weight: 650;
        border-bottom: 1px solid #262333;
        cursor: default;
    }

    .last-serv-container{

        .last-serv-title{
            font-size: 35px;
            font-weight: 700;
            margin-bottom: 45px;
            cursor: default;
        }

        .servcard-container{
            width: fit-content;
            padding-bottom: 50px;
            margin-bottom: 50px;
            border-bottom: 1px solid #262333;
        }
    }

    .ip-card-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: var(--dark);
        width: 320px;
        height: 150px;
        padding: 20px 30px 35px 30px;
        border-radius: 30px;

        .ip-title-container{
            display: flex;
            align-items: center;

            .ip-icon{
                color: var(--main);
                font-size: 35px;
                filter: drop-shadow(3px 2px 1px #7547ff4d);
            }

            .ip-title{
                font-size: 35px;
                font-weight: 700;
                margin-left: 20px;
                cursor: default;
            }

            .copy-link{
                color: var(--main);
                font-size: 14px;
                font-weight: 400;
                margin-left: 15px;
                cursor: default;
            }

            
        }

        .ip-container{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            * {
                transition: 0.3s;
            }

            .copied-msg{
                top: 130%;
                right: 50%;
                transform: translateX(50%);
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                height: 40px;
                background: var(--green);
                border-radius: 7px;

                .arrow{
                    top: -12px;
                    position: absolute;
                    width: 0px;
                    height: 0px;
                    border-right: 15px solid transparent;
                    border-left: 15px solid transparent;
                    border-bottom: 15px solid var(--green);
                }

                .copied{
                    text-align: center;
                    font-size: 14px;
                }
            }

            .ip{
                padding: 15px 50px 15px 50px;
                border: solid 2px var(--main);
                border-radius: 100px;
                text-align: center;
                font-size: 28px;
                font-weight: 650;
                background: transparent;
                color: white;

                &:hover{
                    background: #7547ff56;
                }

                &:active{
                    color: var(--dark);
                    background: var(--main);
                }
            }
        }
    }
}