.page-main-container{

    @media screen and (max-width : 1405px){
        #dr{
            display: none;
        }

        #dl{
            width: 100%
        }
    }

    @media screen and (max-width : 1270px){
        #dr{
            display: none;
        }

        #dl{
            width: 100%
        }

        .serv-card{
            width: 80%;
        }

        #ic{
            width: 60%;
        }
    }
    
    @media only screen and (max-height : 870px) {
        .card-properties{
            display: none;
        }

        .serv-card{
            min-height: 10rem;
        }
    }

    @media only screen and (max-height : 774px) {
        .last-serv{
            display: none;
        }
    }

    @media only screen and (max-height : 694px) {

        #ic{
            justify-content: center;

            .ip-title-container{
                display: none;
            }
        }

        #wc{
            .title-container{
                display: none;
            }

            .main-text-container{
                margin-top: 2.2rem;
            }
        }
    }

    @media screen and (max-height : 650px) {
        /*.status-icon,
        .serv-status-online p{
            display: none;
        }*/
        .card-title-container div:not(:first-child){
                display:none;
        }

        .card-title-container{
            margin-bottom: 0;
        }

        .serv-card{
            flex-direction: initial;
            align-items: center;
            min-height: 8rem;
        }
        
    }

    *{
        outline: none;
    }

    .page-content{

        .dashboard-left{
            display: flex;
            flex-direction: column;
            width: 100%;

            .servcard-container{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                margin-bottom: 2rem;
                border-bottom: 1px solid #262333;
        
                .last-serv{
                    margin: 0;
                    font-size: 2.2rem;
                    font-weight: 700;
                    margin-bottom: 2rem;
                }
            }
    
            .ip-card-container{
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background: var(--dark);
                width: 50%;
                max-width: 20rem;
                min-width: 16rem;
                padding: 1.8rem;
                border-radius: 20px;
                height: 90%;
                max-height: 9rem;
    
                .ip-title-container{
                    display: flex;
                    align-items: center;
    
                    p{
                        margin: 0;
                    }
    
                    
    
                    .ip-icon{
                        color: var(--main);
                        font-size: 2rem;
                        filter: drop-shadow(3px 2px 1px #7547ff4d);
                    }
        
                    .ip-title{
                        font-size: 2rem;
                        font-weight: 700;
                        margin-left: 1.2rem;
                        cursor: default;
                    }
        
                    .copy-link{
                        color: var(--main);
                        font-size: 0.85rem;
                        font-weight: 400;
                        margin-left: 1rem;
                        cursor: default;
                    }
    
                }
    
                .ip-container{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
    
                    .copied-msg{
                        top: 20%;
                        right: -5%;
                        transform: translateX(50%);
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 70px;
                        height: 40px;
                        background: var(--green);
                        border-radius: 7px;
        
                        .arrow{
                            left: -0.5rem;
                            position: absolute;
                            width: 0px;
                            height: 0px;
                            border-top: 15px solid transparent;
                            border-right: 15px solid var(--green);
                            border-bottom: 15px solid transparent;
                        }
        
                        .copied{
                            text-align: center;
                            font-size: 14px;
                        }
                    }
    
                    .ip{
                        margin: 0;
                        text-align: center;
                        padding: 1rem 2rem;
                        border-radius: 100px;
                        border: solid 2px var(--main);
                        transition: 0.3s;
                        
                        font-size: 1.75rem;
                        font-weight: 650;
                        
                        background: transparent;
    
                        &:hover,
                        &:focus-visible{
                            background: var(--main);
                        }
        
                        &:active{
                            background: #7547ff56;
                        }
                    }
                }
            }
        }

        .dashboard-right{
            margin-left: 5.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
    }

    

}