#servmanage-content{
    justify-content: initial;

    .config-container{
        height: 100%;
        width: 100%;
        padding-left: 2rem;
        display: flex;
        flex-direction: column;

        .config-name{
            margin: 0;
            font-weight: 700;
            font-size: 2.1rem;
            margin-bottom: 2.2rem;
        }
    }
}