.player-container{
    background: transparent;
    width: 100%;
    box-sizing: border-box;
    min-height: 4rem;
    max-height: 4rem;
    min-width: 40rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #262333;
    padding-left: 2rem;

    .minecraft-face{
        /*background-image: url(https://www.cewe.fr/cdn/c2/xx/c2xxdkdGN0oxNWViZ283amNXVDNZTmRJUkRxMTA4WkFYSmNxME9mbmcxUT0);*/
        background-size: cover;
        background-position: center;
        min-width: 2.5rem;
        max-height: 2.5rem;
        max-width: 2.5rem;
        min-height: 2.5rem;
        border-radius: 100px;
    }

    .player-name{
        margin: 0;
        font-size: 1.2rem;
        margin-left: 2rem;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        color: white;   
        white-space: nowrap;
    }

    .actions {
        display: flex;
        margin-left: auto;
    }

    .op-player,
    .ban-player,
    .banip-player,
    .oped-player,
    .baned-player,
    .banedip-player{
        display: flex;
        cursor: pointer;
        transition: 0.2s;
        max-height: 4rem;
        min-height: 4rem;
        align-items: center;

        p{
            display: flex;
            margin: 0;
            font-size: 1.2rem;
            padding: 0.4rem 2rem;
            color: #a399b5;
            align-items: center;
            
            svg{
                margin-right: 1rem;
                font-size: 1.3rem;
            }
        }

        &:active{
            transform: translateY(2px);
        }
    }

    .oped-player{
        p{
            color: var(--green);
        }
    }
    .baned-player{
        p{
            color: var(--yellow);
        }
    }
    .banedip-player{
        p{
            color: var(--red);
        }
    }

    
}