.configurations-main-container{
    width: 100%;
    height: 100%;
    display: flex;
    background: var(--dark);
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--lighter);
    font-size: 0.9rem;

    &::-webkit-scrollbar{
        display: none;
    }
}