.darken-background{
    z-index: 1000;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.226);
}

.delete-container{

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1001;
    transform: translate(-50%, -50%);
    background-color: #0c0b16;

    .confirmation{

        
      
    }
  
}