#servers-content{
    @media screen and (max-width : 1105px){
        .servers-grid{
            grid-template-columns: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.servers-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    .serv-card{
        z-index: 0;
        margin-bottom: 5rem;
    }
}

.page-title-container{

    .text{
        margin: 0 1rem 0 2rem;
        color: #57536d;
        font-weight: 600;
    }

    .folder-path{
        margin: 0;
        color: #57536d;
        font-size: 0.9rem;
    }
}