.whadis-container{
    background: var(--dark);
    padding: 0 40px 40px 40px;
    border-radius: 25px;
    width: 440px;
    margin-top: 5rem;

    .title-container{
        display: flex;
        margin-bottom: 30px;
        padding-top: 25px;
        align-items: center;

        .title-icon{
            font-size: 40px;
            filter: drop-shadow(2px 1.5px 0.5px #7547ff4d);
            width: 7%;
            transform: scale(2);
        }

        .title{
            font-size: 1.5rem;
            font-weight: 500;
            margin: 0;
            margin-left: 25px;
        }

    }

    .main-text-container{

        .whadis{
            color: var(--light);
            margin: 0;
            font-size: 0.9rem;
        }

    }

}