

.serv-navbar{

    @media only screen and (max-width : 1490px){

        svg{
            display: none;
        }
        min-width: 5.8rem;
        max-width: 5.8rem;

    }

    transition: 0.3s;
    padding-right: 4rem;
    min-width: 9.8rem;
    max-width: 9.8rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    border-right: 1px solid #262333;
    position: sticky;
    top: 0;

    a{
        transition: 0.3s;
        margin:0;
        color: #7f759d;
        margin-top: 2rem;
        font-size: 1.1rem;
        text-decoration: none;
        display: flex;
        align-items: center;

        svg{
            margin-right: 2rem;
        }

        &:hover:not(.serv-active){
            transition: 0;
            color: #b8adda;
        }
    }

    .serv-active{
        cursor: default;
        color: var(--main);
    }
}