.file-manager {

    border-radius: 10px;
    height: 100%;
    background-color: #262333;
    overflow-y: auto;
    overflow-x: auto;
    contain: strict;

    .top-bar {

        position: sticky;
        top:0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #262333;
        padding: 0.5rem 1rem;
        z-index: 100;

        .title {

            h3 {
                margin-bottom: unset;
            }

            #path {
                font-size: .75rem;
                color: #7a6e8b;
            }
        }

        .actions {
            display: flex;
            align-items: center;
            width: 8rem;
            gap: 1rem;
        }

    }

    .folders-container {
        width: 100%;
    }

    table {
        text-align: left;
        z-index: 1001;
        border-collapse: collapse;
        z-index: 99;
        position: relative;

        thead{
            th {
                z-index: 200;
                padding: 1rem;
                top: 5.4rem;
                position: sticky;
                background-color: #12111b;
            }
        }        

        tbody {
            .go-back{
                height: 2rem;
                background-color: #161420;
                gap: 1rem;
                padding: 1rem 0;
                align-items: center;
                border-top: 1px solid #262333;

                th{
                    background: #161420;
                }

                p{
                    margin: 0;
                    margin-left: 1rem;
                    padding: 1rem;
                    font-size: 1rem;
                    letter-spacing: 3px;
                    cursor: pointer;
                    text-align: center;
                }
            }
        }
    }

    .mantine-Dropzone-root{
        background: #161420;
        border: none;
        height: 15rem;
    }
}

.editor-container{

    height: 81%;

    .editor-header{
        border-radius: 10px 10px 0 0;
        padding: 1rem 0;
        background: #262333;
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg{
            margin: 0 1rem;
            cursor: pointer;
        }

        .edited-file-name{
            margin: 0;
            font-size: .9rem;
            color: #625972;
            margin-right: 2rem;
        }
    }

    .ace-github{
        .ace_gutter{
            background: none;
        }
    }

    .ace_editor{

        border-radius: 0 0 10px 10px;
        background: #161420;

        .ace_scroller{
            color: rgb(175, 175, 175);
            .ace_content{
                background-color: #161420;

                .ace_cursor{
                    color: rgb(146, 139, 156);
                }

                .ace_print-margin{
                    background: #211d2e;
                }

                .ace_active-line{
                    background: rgba(0,0,0,0.15);
                }

                .ace_indent-guide{
                    opacity: 0.1;
                }

                .ace_selection{
                    background: #302c3b; 
                }

                .ace_selected-word{
                    border: none;
                    background: none;
                }

                .ace_text-layer{
                    
                    .ace_constant{
                        color: rgb(221, 150, 69);
                    }

                    .ace_attribute-name{
                        color: rgb(221, 189, 101);
                    }

                    .ace_identifier,
                    .ace_tag-name{
                        color: rgb(228, 101, 112);
                    }

                    .ace_storage,
                    .ace_keyword,
                    .ace_quasi{
                        color: rgb(169, 99, 207);
                        font-weight: bold;
                    }

                    .ace_function,
                    .ace_operator,
                    .ace_variable{
                        color: rgb(102, 158, 223);
                    }

                    .ace_string{
                        color: rgb(133, 187, 116);
                    }
                }
            }
        }
        
        .ace_gutter-layer{
            background-color: #0e0c14;

            .ace_gutter-cell{
                background-color: transparent;
                color: rgb(78, 72, 87);
            }
        }
    }
}