.file-manager {

    border-radius: 10px;
    height: 100%;
    background-color: #262333;
    contain: strict;

    .top-bar {

        max-height: 4.55rem;
        min-height: 4.55rem;
        position: sticky;
        top:0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #262333;
        padding: 0.5rem 1rem;
        z-index: 100;

        .title {

            h3 {
                margin-top: 0.5rem;
                margin-bottom: unset;
                display: flex;
                align-items: center;    
                
                .f-delete{
                    color: lighten(#d11d1d,15%);
                }

                svg{
                    font-size: 1rem;
                    padding: 0.5rem 1rem;
                    transition-duration: .1s;
                    background: #262333;
                    border-left: 1px solid darken(#7a6e8b, 20%);

                    &:first-of-type{
                        margin-left: 1.5rem;
                    }

                    &:last-of-type{
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        margin-right: 1.5rem;
                    }

                    &:hover{
                        background: rgba(255, 255, 255, 0.062);
                    }
    
                    &:active{
                        background: rgba(255, 255, 255, 0.020);
                        transform: translateY(1.5px);
                    }
                }
            }

            #path {
                font-size: .75rem;
                color: #7a6e8b;
            }
        }

    }

    

    .file-list-container{

        display: flex;
        flex-direction: column;
        overflow: auto;
        height: calc(100% - 5.55rem);
        background-color: #161420;

        .folders-container {
            width: 100%;
            display: block;
            background-color: #161420;
        }

    }

    table {
        text-align: left;
        z-index: 1001;
        border-collapse: collapse;
        z-index: 99;
        position: relative;

        thead{
            width: 100%;
            th {
                z-index: 200;
                padding: 1rem;
                top: 0rem;
                position: sticky;
                background-color: #12111b;
            }
        }        

        tbody {
            width: 100%;
            .go-back{
                height: 2rem;
                background-color: #161420;
                gap: 1rem;
                padding: 1rem 0;
                align-items: center;
                border-top: 1px solid #262333;
                border-bottom: 1px solid #262333;

                th{
                    background: #161420;
                }

                p{
                    margin: 0;
                    margin-left: 1rem;
                    padding: 1rem;
                    font-size: 0.7rem;
                    letter-spacing: 3px;
                    cursor: pointer;
                    text-align: center;

                    &:active{
                        transform: translateY(1px);
                    }
                }
            }
        }
    }

    .mantine-Dropzone-root{
        background: #161420;
        border: none;
        min-height: 10rem;
        height: 100%;
        border-bottom: 1px solid #262333;
    }
}

.dropzone-content {
    padding-top: .25rem;
    height: 100%;
    min-height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    .dropzone-icon {
        font-size: 2.5rem;
        color: lighten(#262333, 15%);
    }

    p {
        font-size: 1.75rem;
        font-weight: 300;
        margin: 0.5rem 0;
        color: lighten(#262333, 15%);
    }

    .precision{
        margin: 0;
        font-size: 0.9rem;
        font-weight: 500;
    }
}

.editor-container{

    height: 81%;

    .editor-header{
        border-radius: 10px 10px 0 0;
        padding: 1rem 0;
        background: #262333;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        overflow: hidden;
        contain: strict;
        height: 2rem;

        svg{
            margin: 0 1rem;
            cursor: pointer;
        }

        .edited-div{
            display: flex;
            justify-content: end;
            overflow: hidden;
        }

        .edited-file-name{
            
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 90%;
        }

        p{
            margin: 0;
            font-size: .9rem;
            color: #625972;

            &:last-of-type{
                margin-right: 2rem;
            }
        }
    }

}