.file {
    display: table-row;
    height: 2rem;
    max-height: 25px;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    background-color: #161420;
    border-bottom: 1px solid #262333;
    border-top: 1px solid #262333;
    color: white;

    p {
        margin: 0;
        
    }

    .folder-icon{
        color: rgb(58, 148, 223);
    }

    svg{
        font-size: 1rem;
    }

    .file-name{
        width: fit-content;
        text-overflow: ellipsis;
        font-size: 0.9rem;
        overflow: hidden;
        white-space: nowrap;
    }

    td {
        padding: 1rem;
        font-size: 0.9rem;
    }

    .td-name{
        overflow: hidden;
        display: grid;
        div{
            overflow: hidden;
            &:hover{
                text-decoration: underline;
            }
            display: flex;
            align-items: center;
            p:not(.file-name){
                margin:0;
                font-size: 0.9rem;
            }
        }
    }

    .size,
    .created{
        color: #827c99;
    }

    

}