

.serv-navbar{

    transition: 0.3s;
    padding-right: 4rem;
    min-width: 9.8rem;
    max-width: 9.8rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    border-right: 1px solid #262333;
    position: sticky;
    top: 0;
    gap: 2rem;

    a{
        transition: 0.3s;
        margin:0;
        color: #7f759d;
        font-size: 1rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        -webkit-user-drag: none;

        p{
            margin: 0;
        }

        &:hover:not(.serv-active){
            transition: 0;
            color: #b8adda;
        }

        svg{
            margin-right: 2rem;
        }
    }

    .serv-active{
        cursor: default;
        color: var(--main);
    }
}