.serv-card{

    * {
        outline: none;
        transition-duration: 0.3s;
    }
    height: 67%;
    width: 80%;
    max-width: 33rem;
    max-height: 20rem;
    min-width: 20rem;
    min-height: 17rem;

    background-color: var(--main);
    border-radius: 50px;
    padding:2rem 2.5rem 2.5rem 2.5rem;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

    transition-duration: 0.3s;
    transform: scale(95%,95%);

    p {
        margin: 0;
    }

    .card-title-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-bottom: 0.7rem;

        .serv-status-online,
        .serv-status-offline,
        .serv-status-starting,
        .serv-status-loading,
        .serv-status-empty{
            cursor: default;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            border-radius: 10px;
            width: 80%;
            max-width: 6rem;
            margin-left: 0.9rem;

            .status-icon{
                margin-right: auto;
                font-size: 22px;
            }

            p {
                font-size: 1.05rem;
                font-weight: 400;
            }
        }

        .serv-status-online{
            background: var(--green);
        }

        .serv-status-offline{
            background: var(--red);
        }

        .serv-status-starting{
            background: var(--yellow);
        }

        .serv-status-empty{
            background: rgb(136, 136, 136);
        }

        .name-container{
            max-height: 3rem;
            overflow: hidden;

            .card-name{
                font-weight: 600;
                font-size: 1.6rem;
                word-break: break-all;
                overflow: hidden;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
    
            .card-name-input-1,
            .card-name-input-2{
                
                width: 100%;
                border: none;
                padding: none;
                font-family: "Nunito Sans", sans-serif;
                font-size: 28px;
                background:transparent;
                color: white;
                font-weight: 650;
            }            

            .card-name-input-1::placeholder{
                color: #d0c8ff4b;
                font-weight: 300;
                font-size: 1.2rem;
                font-style: italic;
            }

            .card-name-input-2::placeholder{
                color: #d11d1d;
                font-weight: 350;
                font-size: 1.15rem;
                font-style: italic;
            }
        }
    }

    .card-properties{
        cursor: default;
        display: flex;
        margin-left: 2px;

        div{
            display: flex;
            flex-direction: column;
            margin-right: 20px;

            p{
                margin-bottom: 10px;
            }

            
        }
        .left{

            p{
                color: var(--light);
                font-weight: 500;
            }
        }
    }

    .manage-button{
        cursor: pointer;
        display: flex;
        padding: 10px 30px 10px 30px;
        border-radius: 150px;
        background: rgba(255, 255, 255, 1);
        border: solid 2px white;
        font-size: 1rem;
        font-weight: 500;
        width: fit-content;
        transition-duration: 0.3s;
        align-items: center;
        height: 1.9rem;
        text-decoration: none;

        &:hover,
        &:focus-visible{
            background: rgba(255, 255, 255, 0.4);

            p{
                color: white;
            }
        }

        &:active{
            background: rgba(255, 255, 255, 0);
        }

        p {           
            color: var(--main);
            transition-duration: 0.3s;
        }
    }
}

.serv-card:hover,
.serv-card:focus{
    transform: scale(100%,100%);
    box-shadow: 0 0 17px 17px #0c0c0cb4;
}