.page-title-container{

    .serv-status-online,
    .serv-status-offline,
    .serv-status-starting,
    .serv-status-loading,
    .serv-status-stopping,
    .serv-status-restarting{
        cursor: default;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        border-radius: 10px;
        width: 80%;
        max-width: 6rem;
        margin-left: 2.5rem;
        max-height: 1.5rem;

        .status-icon{
            margin-right: auto;
            font-size: 22px;
        }
        p {
            font-size: 1.05rem;
            font-weight: 400;
        }
    }

    .serv-status-restarting{
        p{
            font-size: 0.95rem;
            margin-left: 0.3rem;
        }
    }

    .serv-status-online{
        background: var(--green);
    }

    .serv-status-offline{
        background: var(--red);
    }

    .serv-status-starting,
    .serv-status-restarting,
    .serv-status-stopping{
        background: var(--yellow);
    }

    .remove-server{
        margin:0;
        color: var(--red);
        font-size: 0.9rem;
        margin-left: auto;
        transition: 0s;

        &:hover{
            text-decoration: underline;
        }

        &:active{
            transform: translateY(1px);
        }
    }
}

#servmanage-content{
    justify-content: initial;

    .config-container{
        height: 100%;
        width: 100%;
        padding-left: 2rem;
        display: flex;
        flex-direction: column;

        .config-name{
            margin: 0;
            font-weight: 700;
            font-size: 2.1rem;
            margin-bottom: 2.2rem;
        }
    }
}