.titleBar {
    display: flex;
    width: 100%;
    position: absolute;
    margin-bottom: 1.25rem;
    z-index: 999999999;
    max-height: 2rem;
    background-color: #111017; //#111017#080a12
    border-bottom: 1px solid #262333;

    .actions {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        -webkit-app-region: no-drag;
        user-select: none;

        .action{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            width: 2rem;
            height: 2rem;
            color: var(--main);
            font-size: 0.9rem;
            background-color: transparent;
            transition: 0.1s;
            user-select: none;

            &:hover{
                background-color: rgba(255, 255, 255, 0.062);
            }
        }

        .cross{
            height: calc(2rem + 2rem * 11/100);
            transform: scaleY(0.9);
            font-size: 0.9rem;
            color: var(--red);

            &:hover{
                background-color: var(--red);
                color: white;
            }
        }
    }
}