.preferences {
    .page-content {
        flex-direction: column;
        gap: 2rem;
        justify-content: unset;
        flex-wrap: wrap;
    }
    
  .item {
    width: 25rem;
    border-bottom: 1px solid #262333;
    padding-bottom: 2rem;

    .title {
        font-weight: 500;
    }

    .input {
        width: 75%;
    }

    .item-content {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 100%;
        margin-top: .5rem;
        margin-left: 1rem;
    }

    .infos {
        flex-direction: column;
        align-items: flex-start;

        & > div {
            display: flex;
            align-items: center;
            gap: 1rem;

            span {

                white-space: nowrap;

                &:first-of-type {
                    color: #baadce;
                    font-weight: 400;
                }

                &:last-of-type {
                    color: #5c596d;
                    font-weight: 300;
                    font-size: .8rem;
                }  
                
            }
        }
    }

    .button {
        display: flex;
        padding: 0 .75rem;
        background-color: red;
        width: fit-content;
        border-radius: 10px;
        color: #585279;
        background: #13121f;
        border: solid 1px darken(#5c596d, 15%);
        cursor: pointer;
    }
  }

  .input {
    select,
    input {
      border-radius: 0;
      background: #13121f;
      border: 0;
      border-bottom: solid 2px #5c596d;
      color: var(--main);

      &::placeholder {
        color: #585279;
      }
    }

    select {
      appearance: none !important;
      background-image: url("../../public/arrow.svg");
      background-size: 12px;
      background-repeat: no-repeat;
      background-position: 90% 50%;
      width: 8rem;
      -webkit-appearance: none;

      option {
        border: none;
      }
    }

    .mantine-NativeSelect-rightSection {
      display: none;
    }
  }
}
