.console-main-container{
    width: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1490px) and (min-width: 1201px){
        .console-bottom{
            flex-direction: column;

            .console-actions{
                margin-bottom: 2rem;            
            }
        }
    }

    @media screen and (max-width: 1490px){
        .console-properties{

            .properties-container{
                justify-content: center;
            }
        }

        .console-bottom{

            .console-actions{
                
                .actions-container{
                    justify-content: center;
                    align-items: center;
                }
            }
        }
            
        .console-bottom-title{
            text-align: center;
        }
    }

    @media screen and (max-width: 1200px){
        .console-bottom{
            flex-direction: column;

            .console-actions{

                .actions-container{
                    flex-direction: column;
        
                    div{
                        margin-right: 0;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }

    .console-container{
        width: 100%;
        height: 25rem;
        background: var(--dark);
        padding: 1rem;
    }

    .console-bottom{
        width: 100%;
        display: flex;
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 1px solid #262333;

        .console-actions,
        .console-properties{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;

            .console-bottom-title{
                font-size: 2rem;
                margin: 0;
                font-weight: 700;
                margin-bottom: 2rem;
            }

            .actions-container,
            .properties-container{
                display: flex;
                width: 100%;
                height: 100%;

                p{
                    display: flex;
                }
            }

        }

        .console-actions{

            margin-right: 5.2rem;

            .start-server,
            .restart-server{

                margin-right: 2rem;

            }

            .start-server,
            .stop-server,
            .restart-server{
                cursor: pointer;
                height: fit-content;
                padding: 0.7rem 1.3rem;
                border-radius: 100px;
                min-width: 6rem;
                max-width: 6.5rem;
                transform: none;
                transition: 0.1s;
                p{
                    margin: 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 1rem;
                }

                svg{
                    font-size: 1.4rem;
                    margin-right: 1.5rem;
                }

                &:active{
                    transform: translateY(2px);
                }

            }

            .start-server{
                background: var(--green);
            }

            .stop-server{
                background: var(--red);
            }

            .restart-server{
                background: var(--yellow);
            }
        }

        .console-properties{


            .properties-container{
                p{
                    margin: 0;
                    margin-bottom: 0.8rem;
                }

                .p-left{
                    font-size: 1rem;
                    color: var(--lighter);
                    font-weight: 500;
                    margin-right: 3rem;
                }

                .p-right{
                    font-size: 1rem;
                    color: var(--light);
                }
            }
        }
    }
}