.console-main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .console-container{
        width: 100%;
        height: 60%;
        background: var(--dark);
    }

    .console-bottom{
        width: 100%;
        height: 40%;
        display: flex;
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 1px solid #262333;

        .console-actions,
        .console-properties{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;

            .console-bottom-title{
                font-size: 2rem;
                margin: 0;
                font-weight: 700;
                margin-bottom: 2rem;
            }

            .actions-container,
            .properties-container{
                display: flex;
                width: 100%;
                height: 100%;
            }

        }

        .console-actions{

            .start-server,
            .stop-server,
            .restart-server{
                cursor: pointer;
                margin-right: 2.5rem;
                height: fit-content;
                padding: 0.7rem 1.3rem;
                border-radius: 100px;
                min-width: 6rem;
                max-width: 6.5rem;
                transform: none;
                transition: 0.3s;
                p{
                    margin: 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 1.1rem;
                }

                svg{
                    font-size: 1.4rem;
                    margin-right: 1.5rem;
                }

                &:hover{
                    transform: scale(110%, 110%);
                }

                &:active{
                    transform: scale(115%, 115%);
                }

            }

            .start-server{
                background: var(--green);
            }

            .stop-server{
                background: var(--red);
            }

            .restart-server{
                background: var(--yellow);
            }
        }

        .console-properties{


            .properties-container{
                p{
                    margin: 0;
                    margin-bottom: 0.8rem;
                }

                .p-left{
                    font-size: 1.2rem;
                    color: var(--lighter);
                    font-weight: 600;
                    margin-right: 3rem;
                }

                .p-right{
                    font-size: 1.2rem;
                    color: var(--light);
                }
            }
        }
    }
}